<tr>
  <td align='right'>分享到：</td>
  <td>
    <a rel="nofollow" class="djq_contblink01" href="javascript:window.open('http://v.t.sina.com.cn/share/share.php?title='+encodeURIComponent(document.title.substring(0,76))+'&url='+encodeURIComponent(location.href)+'&rcontent=','sina','scrollbars=no,width=600,height=450,left=75,top=20,status=no,resizable=yes'); void 0">新浪微博</a>
    <a rel="nofollow" class="djq_contblink02" href="javascript:void(function() {var d=document,e=encodeURIComponent,s1=window.getSelection,s2=d.getSelection,s3=d.selection,s=s1?s1():s2?s2():s3?s3.createRange().text:'',r='http://www.douban.com/recommend/?url='+e(d.location.href)+'&title='+e(d.title)+'&sel='+e(s)+'&v=1',x=function() {if(!window.open(r,'douban','width=930,height=470,left=50,top=50,toolbar=no,menubar=no,location=no,scrollbars=yes,status=yes,resizable=yes'))location.href=r+'&r=1'};if(/Firefox/.test(navigator.userAgent)) {setTimeout(x,0)}else{x()}})()">豆瓣网</a>
    <a rel="nofollow" class="djq_contblink03" href="javascript:window.open('http://share.renren.com/share/buttonshare.do?link='+encodeURIComponent(document.location.href)+'&title='+encodeURIComponent(document.title), 'renren', 'width=930,height=470,left=50,top=50,toolbar=no,menubar=no,location=no,scrollbars=yes,status=yes,resizable=yes');void(0)">人人网</a>
    <a rel="nofollow" class="djq_contblink04" href="javascript:window.open('http://shuqian.qq.com/post?from=3& title='+encodeURIComponent(document.title)+'&uri='+encodeURIComponent(document.location.href)+'&jumpback=2&noui=1','qq','width=930,height=470,left=50,top=50,toolbar=no,menubar=no,location=no,scrollbars=yes,status=yes,resizable=yes'); void(0)">QQ书签</a>
    <a rel="nofollow" class="djq_contblink05" href="javascript:window.open('http://www.kaixin001.com/repaste/share.php?rtitle='+encodeURIComponent(document.title)+'&rurl='+encodeURIComponent(document.location.href)+'&rcontent=','kaixin','width=930,height=470,left=50,top=50,toolbar=no,menubar=no,location=no,scrollbars=yes,status=yes,resizable=yes'); void(0)">开心网</a>

  </td>
</tr>
