<ul>
  <li>
    <%= link_to '活动列表', admin_promotions_path, :class => 'current', :title => "促销活动列表" %>
    [<%= link_to '新建', new_admin_promotion_path, :target => "_blank", :title => "新建促销活动" %>]
  </li>
</ul>
<div class="clear"></div>
