<ul>
  <li><%= link_to '品牌管理', admin_brands_path %></li>
  <li><%= link_to '品类管理', admin_tags_path %></li>
  <li><%= link_to '经销商管理', admin_agencies_path, :class => 'current' %></li>
</ul>
<div class="clear"></div>
