<ul class="vertical menu_padding">
  <li><%= link_to '产品类别管理', admin_production_categories_path, :class => 'current' %></li>
  <li><%= link_to '添加产品类别', new_admin_production_category_path %></li>
</ul>
